.f1 { top: -67px; left: 0px; }
.f2 { top: -66px; left: 18px; }
.f3 { top: -69px; left: 44px; }
.f4 { top: -69px; left: 46px; }
.f5 { top: -50px; left: 84px; }
.f6 { top: -65px; left: 100px; }
.f7 { top: -80px; left: 97px; }
.f8 { top: -30px; left: 99px; }
.f9 { top: -46px; left: 124px; }
.f10 { top: -24px; left: 96px; }
.f11 { top: -24px; left: 87px; }
.f12 { top: -24px; left: 46px; transform: scale(0.15) rotate(90deg); }
.f13 { top: -12px; left: 47px; transform: scale(0.2) rotate(70deg); }
.f14 { top: -30px; left: 0px; }
.f15 { top: -32px; left: 30px; }
.f16 { top: -30px; left: -30px; }
.f17 { top: -27px; left: -59px; }
.f18 { top: -25px; left: -39px; transform: scale(0.2) rotate(50deg); }
.f19 { top: -48px; left: -59px; }
.f20 { top: -67px; left: -71px; }
.f21 { top: -55px; left: -32px; }
.f22 { top: -72px; left: -29px; }