
.scroll-container {
  width: 100%;
  height: 82vh;
  position: relative;
  overflow-y: scroll;      /* allow scrolling */
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */

  /* background-image: url('/images/line.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 15px 100%; */

  padding-top: 20vh;
  padding-bottom: 20vh;

}

.scroll-container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;

  width: 15px;
  /* height: 2850px; */
  height: 0px;

  background-image: url('/images/line.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 15px 100%;
}

.spacer {
  height: 20vh;
}

.timeline-item {

  display: flex;
  justify-content: center;
  gap: 5vh;
  width: 80%;
  margin: 0 auto;

  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 1;

  opacity: 0;
  transform: scale(1);

  /* font-size: 30px; */
  font-size: 2rem;
}

.time {
  width: 50%;
  text-align: right;
}

.event {
  width: 50%;
  text-align: left;
}

.event img {
  width: 5vw;
  height: auto;
}
