
.scroll-container {
  width: 100%;
  height: 82vh;
  position: relative;
  overflow-y: scroll;      /* allow scrolling */
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;                      /* behind targets */

  width: 15px;
  height: 2450px;

  background-image: url('/images/line.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 15px 100%;
}

.spacer {
  height: 20vh;
}

.timeline-item {

  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin: 0 auto;

  padding: 50px;
  text-align: center;
  font-size: 20px;
  position: relative;
  z-index: 1;               /* above timeline image */

  opacity: 0;
  transform: scale(1);

  font-size: 30px;
}

.time {
  width: 50%;
  text-align: right;
}

.event {
  width: 50%;
  text-align: left;
}

.event img {
  width: 5vw;
  height: auto;
}
